@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}
header,
footer {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}

h1,
h2 {
    font-family:'Black Han Sans', sans-serif;
    text-align: center;
    margin: 10px;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    font-family: 'Open Sans', sans-serif;
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
  }

.card {
    width: 80%;
    margin: 40px auto;
    padding: 4px;
    border: 5px solid #C87FEA;
    box-shadow: 5px 10px #D1B1E0;
  }

strong {
    color: #6f168a;
}

/*Styling links in specfic state order
*/
a {
    outline: none;
  }
  
a:link {
    color: #1f02ff;
  }
  
a:visited {
    color: #0d5703;
  }
  
a:focus {
    text-decoration: none;
    background: #f4faa3;
  }
  
a:hover {
    text-decoration: none;
    background: #f4faa3;
  }
  
a:active {
    background: #C87FEA;
    color: #f4faa3;
  }